<mat-card class="card">
    <mat-card-title>{{titulo}}</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome Hospede" name="nomeHospede" [(ngModel)]="hospede.nomeHospede"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" mask="000.000.000-00" placeholder="CPF" name="cpf" [(ngModel)]="hospede.cpf"  [dropSpecialCharacters]="false">
        </mat-form-field>

        <mat-form-field class="datepicker">
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker] = "picker" placeholder="Data Nascimento" name="dtNascimento" [(ngModel)]="hospede.dtNascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

    <button mat-stroked-button color="warn" class="button-new" routerLink="/hospedes/"> Voltar</button>
    <button mat-raised-button color="primary" class="button-new" (click) = "salvar()"> Cadastrar</button>

</mat-card>
