<mat-card class="card">
    <mat-card-title>{{titulo}}</mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label> -- Seleciona o Hotel --</mat-label>
            <mat-select [(value)]="quarto.hotel.idHotel" name="hotel">
                <mat-option *ngFor="let h of hoteis" [value]="h.idHotel">
                    {{h.nmHotel}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> -- Seleciona a categoria do quarto</mat-label>
            <mat-select [(value)]="quarto.categoriaQuarto" name="categoria">
                <mat-option *ngFor="let cat of categorias | keyvalue" [value]="cat.key">
                    {{cat.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder= "Numero do Quarto" name= "nrQuarto" [(ngModel)]="quarto.nrQuarto">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder= "Quantidade de leitos" name= "qtdLeito" [(ngModel)]="quarto.qtdLeito">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" step="0.01" placeholder= "Preco da diaria" name= "prDiaria" [(ngModel)]="quarto.prDiaria">
        </mat-form-field>

    </form>

    <button mat-stroked-button color="warn" class="button-new" routerLink="/quartos/"> Voltar</button>
    <button mat-raised-button color="primary" class="button-new" (click) = "salvar()"> Cadastrar</button>
</mat-card>
